[Unit]
Description=Smart Offer Gunicorn Daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/smartoffer
EnvironmentFile=/var/www/smartoffer/.env
ExecStart=/docker/smartoffer/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/var/www/smartoffer/gunicorn.sock \
    smartoffer_django.wsgi:application

[Install]
WantedBy=multi-user.target
